<div class="divheader" data-aos="zoom-out">
    <div class="row containt-header letter-header fz20">
        <div id="aboutme-re" class="col-lg-2 col-md-12 col-12 mb-3 description redirection" data="aboutme">
            ACERCA DE MI
        </div>
        <div id="experience-re" class="col-lg-2 col-md-12 col-12 mb-3 description redirection" data="experience">
            EXPERIENCIA LABORAL
        </div>
        <div class="col-lg-4 col-md-12 col-12 mb-3">
            <!-- <img src="../../../assets/img/logolfast.png" alt="" class="lfmlogo"> -->
        </div>
        <div id="strengths-re" class="col-lg-2 col-md-12 col-12 mb-3 description redirection" data="strengths">
            FORTALEZAS
        </div>
        <div id="contac-re" class="col-lg-2 col-md-12  col-12 mb-3 description redirection" data="profile">
            PERFIL
        </div>
    </div>
</div>